.extern-gallery{
    min-width: 30rem;
    min-height: 30rem;
    max-width: 50rem;
    width: 10rem;
    /*height: 10rem;*/
    background-color : goldenrod;
    color:white;
    display:flex;
    flex-direction: row;
    border: 2rem solid rgba(0,0,0,0.3);
    background-clip: border-box;
    align-items: center;
    justify-content: center;
}

.intern-gallery{
    width: 85%;
    height: 25rem;
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 2rem solid rgba(0,0,0,0.3);
    background-clip: border-box;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.intern-gallery-row{
    flex-direction: row;
}

.intern-gallery-column{
    flex-direction: column;
}